<div class="section-area section-default section-list-clients">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="list-clients list-unstyled owl-carousel owl-theme_mod-a owl-theme enable-owl-carousel"
                                          data-min480="2"
                                          data-min768="4"
                                          data-min992="4"
                                          data-min1200="5"
                                          data-pagination="false"
                                          data-navigation="true"
                                          data-auto-play="4000"
                                          data-stop-on-hover="true">
                <div class="list-clients__item"> <img class="img-responsive" src="https://www.ohlinsusa.com/files/xohlinslogo32340.png.pagespeed.ic.C4kPcjsz7M.png" height="80" width="136" alt="Clients"> </div>
                <div class="list-clients__item"> <img class="img-responsive" src="http://logo-logos.com/wp-content/uploads/2016/11/Brembo_logo.png" height="80" width="136" alt="Clients"> </div>
                <div class="list-clients__item"> <img class="img-responsive" src="http://motorcycle-brands.com/wp-content/uploads/2016/08/Kawasaki-logo.png" height="80" width="136" alt="Clients"> </div>
                <div class="list-clients__item"> <img class="img-responsive" src="https://motorcycle-logos.com/wp-content/uploads/2016/10/Yamaha-Motorcycles-Logo.png" height="80" width="136" alt="Clients"> </div>
                <div class="list-clients__item"> <img class="img-responsive" src="http://macantua.com/wp-content/uploads/ducati-logo.jpg" height="80" width="136" alt="Clients"> </div>
                <div class="list-clients__item"> <img class="img-responsive" src="http://ddunleavy.typepad.com/.a/6a00d8345264db69e201a511c50075970c-pi" height="80" width="136" alt="Clients"> </div>
                <div class="list-clients__item"> <img class="img-responsive" src="http://www.ewallpapers.eu/sites/default/files/honda-logo-62947-1944693.gif" height="80" width="136" alt="Clients"> </div>
                
                
                
                                
              </div>
            </div>
            <!-- end col --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end container --> 
      </div>


<div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-area section-default">
              <div class="subscribe subscribe_mod-a"> <i class="subscribe__icon icon-envelope-open"></i>
                <div class="subscribe__inner"> <span class="subscribe__title">Grab the Best Deals</span> <span class="subscribe__description">Get Latest Deals, Offers & Products updates via Email</span> </div>
                <form class="subscribe__form form-inline" >
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email ...">
                    <input class="ui-btn ui-btn_warning" type="submit" value="SUBSCRIBE">
                  </div>
                </form>
              </div>
            </div>
            <!-- end section-area --> 
          </div>
          <!-- end col --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container -->
      
      <div class="section-area section-social-links">
        <div class="container">
          <div class="row">
            <div class="col-xs-12"> <span class="social-links__title">Let’s Connect With Us</span>
              <ul class="social-links list-unstyled">
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-twitter"></i></a> </li>
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-facebook"></i></a> </li>
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-google-plus"></i></a> </li>
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-instagram"></i></a> </li>
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-pinterest-p"></i></a> </li>
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-rss"></i></a> </li>
                <li class="social-links__item"><a class="social-links__link" href="javascript:void(0);"><i class="icon fa fa-youtube-play"></i></a> </li>
              </ul>
            </div>
            <!-- end col --> 
          </div>
          <!-- end row --> 
        </div>
        <!-- end container --> 
      </div>
      <!-- end section-area -->