

    <%  include ../component/header %>
    
   
    
    
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="border-main">
            <div class="wrap-title-page">
              <h1 class="ui-title-page">page not found</h1>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">404 Error</li>
              </ol>
            </div>
            <!-- end wrap-title-page --> 
          </div>
        </div>
        <!-- end col --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container -->
    
    <div class="section-area section-404">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="p-404"> <img class="img-responsive" src="/stylesheets/assets/media/p-404/404.png" height="99" width="336" alt="404">
              <div class="p-404__title">OOPS! page doesn’t exists <%= error %></div>
              <div class="p-404__info">
                <p>Sorry, but the page you are looking for might have been removed or is not available right now. Another reason might be that the product you are looking for perhaps sold out completely!</p>
              </div>
              <a class="btn btn-default" href="/">go to home page</a> </div>
          </div>
          <!-- end col --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end section-404 -->
    
   

    
     <!-- footer / copyright -->
     <% include ../component/copyright %>
    
  </div>
  <!-- end #wrapper --> 
  
</div>
<!-- end layout-theme --> 
<% include ../component/footer %>